# Environment-neutral Tarrant County RP defaults.
setr tarrant_environment "development"
setr qb_locale "en"
setr qbx:enableBridge "true"
set qbx:enableQueue "true"
set qbx:bucketLockdownMode "inactive"
set qbx:max_jobs_per_player 1
set qbx:max_gangs_per_player 1
set qbx:setjob_replaces "true"
set qbx:setgang_replaces "true"
set qbx:cleanPlayerGroups "true"
set qbx:allowMethodOverrides "true"
set qbx:disableOverrideWarning "false"
setr qbx:enableVehiclePersistence "false"
set qbx:acknowledge "true"
setr qbx:enableGroupManagement "false"
setr illenium-appearance:locale "en"
set resources_useSystemChat true
set qbx_chat:joinMessage "^2%s joined the server"
set qbx_chat:quitMessage "^1%s left the server (%s)"
