# Tarrant staff hierarchy. Grant people in ignored staff.cfg, never here.
add_ace group.owner command allow
add_ace group.owner command.quit deny
add_ace group.owner tarrant.owner allow
add_ace group.admin admin allow
add_ace group.admin tarrant.admin allow
add_ace group.moderator mod allow
add_ace group.moderator tarrant.moderator allow
add_ace group.support support allow
add_ace group.support tarrant.support allow
add_ace group.whitelisted tarrant.whitelist allow
add_principal group.owner group.admin
add_principal group.admin group.moderator
add_principal group.moderator group.support
add_ace resource.qbx_core command allow
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow
