# Copy to ignored runtime staff.cfg and uncomment reviewed grants.
# Discord identifiers work after a player has linked Discord to FiveM.
# Prefer a license identifier as a local fallback.
# add_principal identifier.discord:000000000000000000 group.owner
# add_principal identifier.license:0000000000000000000000000000000000000000 group.owner
# add_principal identifier.discord:000000000000000000 group.admin
# add_principal identifier.discord:000000000000000000 group.moderator
# add_principal identifier.discord:000000000000000000 group.support
# add_principal identifier.discord:000000000000000000 group.whitelisted
